:root {
  --primary: #0b0b0e;
  --primary-rgb: 11, 11, 14;
  --white: #fff;
  --white-rgb:255, 255, 255;
  --gray: #f1f1f1;
  --gray-2: #ada6ae;
  --black: #0b0b0e;
  --black-2: #282828;
  --black-3-rgb: 0, 0, 0;
}

$primary: var(--primary);
$primary-rgb: var(--primary--rgb);
$white: var(--white);
$white-rgb: var(--white-rgb);
$black: var(--black);
$black-2: var(--black-2);
$black-3-rgb: var(--black-3-rgb);
// $blue: var(--blue);
$gray: var(--gray);
$gray-2: var(--gray-2);

$font-primary: "Roboto", sans-serif;
$font-secondary: "Michroma", sans-serif;
