.grid {
  &__inner {
    .row {
      &:nth-child(1) {
        margin-bottom: 0.5rem;
      }
    }
  }
  &__row {
    padding: 1rem 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1.5rem;
    &._sm {
      overflow: auto;
      gap: 1.2rem;
      flex-wrap: nowrap;
      .gridItem {
        min-width: 15rem;
        border-radius: .5rem;
        &__body{
        padding-bottom: unset;
        }
      }
    }
  }
  &Item {
    position: relative;
    border-radius: .5rem;
    overflow: hidden;
    width: calc(20% - 1.25rem);
    // max-width: 15rem;
    cursor: pointer;
    height:8.1rem ;
    &__box {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgba($black-3-rgb, 0.65);
      display: flex;
      padding: .4rem .5rem;
      align-items: center;
      gap: .5rem;
      border-radius: .5rem;
      @include transition;
      &-info {
        display: flex;
        flex-direction: column;
        gap: .4rem;
      }
    }
    &__bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      &::after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(#fff,.1);
        opacity: 0;
        @include transition;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    h5 {
      color: $white;
    }
    h6 {
      color: $white;
    }
    &:hover {
      .grid {
        &Item {
          &__bg{
            &:after{
              opacity: 1;
            }
          }
          &__box {
            padding: .4rem .5rem .75rem;
          }
        }
      }
    }
  }
}
.video {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: relative;
    &-content {
      width: 100%;
      position: relative;
      border-radius: 10px;
      overflow: auto;
      height: 29rem;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    &-group {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      h4 {
        font-weight: 600;
      }
      .avatar {
        width: 2rem;
        height: 2rem;
      }
    }
    &-box {
      display: flex;
      align-items: center;
      gap: .6rem;
      &-info {
        display: flex;
        flex-direction: column;
        gap: .4rem;
        h5 {
          color: $primary;
          font-weight: 500;
        }
        h6 {
          color: $gray-2;
        }
      }
      .button {
        margin-left: 12px;
      }
    }
    &-body {
      display: flex;
      justify-content: space-between;
    }
    &-buttons {
      display: flex;
      gap: .4rem;
    }
    &-info {
      padding: .6rem;
      background: rgba($black-3-rgb, 0.05);
      display: flex;
      flex-direction: column;
      gap: .4rem;
      border-radius: .6rem;
      h5 {
        font-weight: 500;
      }
    }
    &-grid {
      position: relative;
      &::before {
        content: "";
        width: 130px;
        height: 100%;
        background: linear-gradient(
          270deg,
          $white 18.02%,
          rgba($black-3-rgb, 0) 100%
        );
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 2;
      }
    }
    .button {
      &--icoLg {
        position: absolute;
        bottom: 0;
        right: -28px;
        z-index: 2;
      }
    }
  }
}
.row {
  position: relative;
  &__body {
    padding: 0.8rem 0;
    display: flex;
    align-items: center;
    gap: .75rem;
    overflow: auto;
    &._avatars {
      gap: 1.4rem;
      border-top: 1px solid;
      border-bottom: 1px solid;
      border-color: rgba($black-3-rgb, 0.25);
      .avatar {
        min-width: 2.6rem;
      }
    }
  }
  &._slider {
    &::before {
      content: "";
      width: 130px;
      height: 100%;
      background: linear-gradient(
        270deg,
        $white 18.02%,
        rgba($black-3-rgb, 0) 100%
      );
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 2;
    }
  }
}
.arrows {
  font-size: 1.2rem;
  .next {
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    z-index: 2;
    font-size: inherit;
    @include transition;
    cursor: pointer;
    .ico {
      font-size: inherit;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &._lg {
    font-size: 1.75rem;
  }
}
.avatar {
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &._sm {
    width: 1.4rem;
    height: 1.4rem;
  }
}
@mixin index-1760 {
  .grid {
    &Item {
      width: calc(25% - 1.2rem);
      max-width: unset;
    }
  }
}
@mixin index-1350 {
  .avatar {
    width: 45px;
    height: 45px;
  }
  .row {
    &__body {
      &._avatars {
        .avatar {
          min-width: 45px;
        }
      }
    }
  }
  .grid {
    &__row {
      gap: 30px 20px;
      &._sm {
        gap: 20px;
        .gridItem {
          min-width: 270px;
        }
      }
    }
    &Item {
      width: calc(33.3% - 15px);
      max-width: unset;
    }
  }
  .video {
    &__inner {
      &-content {
        padding-bottom: 40%;
      }
    }
  }
}
