.grid {
  &__inner {
    .row {
      &:nth-child(1) {
        margin-bottom: 10px;
      }
    }
  }
  &__row {
    padding: 24px 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 48px 30px;
    &._sm {
      overflow: auto;
      gap: 24px;
      flex-wrap: nowrap;
      .gridItem {
        min-width: 300px;
      }
    }
  }
  &Item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    width: calc(20% - 25px);
    max-width: 300px;
    &__body {
      padding-bottom: 54%;
    }
    &__box {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgba($black-3-rgb, 0.65);
      display: flex;
      padding: 8px 10px;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      &-info {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
    &__bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    h5 {
      color: $white;
    }
    h6 {
      color: $white;
    }
  }
}
.video {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    &-content {
      width: 100%;
      padding-bottom: 32%;
      position: relative;
      border-radius: 10px;
      overflow: auto;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    &-group {
      display: flex;
      flex-direction: column;
      gap: 10px;
      h4 {
        font-weight: 600;
      }
      .avatar {
        width: 40px;
        height: 40px;
      }
    }
    &-box {
      display: flex;
      align-items: center;
      gap: 12px;
      &-info {
        display: flex;
        flex-direction: column;
        gap: 8px;

        h5 {
          color: $primary;
          font-weight: 500;
        }
        h6 {
          color: $gray-2;
        }
      }
      .button {
        margin-left: 12px;
      }
    }
    &-body {
      display: flex;
      justify-content: space-between;
    }
    &-buttons {
      display: flex;
      gap: 8px;
    }
    &-info {
      padding: 12px;
      background: rgba($black-3-rgb, 0.05);
      display: flex;
      flex-direction: column;
      gap: 8px;
      border-radius: 12px;
      h5 {
        font-weight: 500;
      }
    }
    &-grid {
      position: relative;
      &::before {
        content: "";
        width: 130px;
        height: 100%;
        background: linear-gradient(
          270deg,
          $white 18.02%,
          rgba($black-3-rgb, 0) 100%
        );
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 2;
      }
    }
    .button {
      &--icoLg {
        position: absolute;
        bottom: 0;
        right: -28px;
        z-index: 2;
      }
    }
  }
}
.row {
  position: relative;
  &__body {
    padding: 16px 0;
    display: flex;
    align-items: center;
    gap: 15px;
    overflow: auto;
    &._avatars {
      gap: 28px;
      border-top: 1px solid;
      border-bottom: 1px solid;
      border-color: rgba($black-3-rgb, 0.25);
      .avatar {
        min-width: 52px;
      }
    }
  }
  &._slider {
    &::before {
      content: "";
      width: 130px;
      height: 100%;
      background: linear-gradient(
        270deg,
        $white 18.02%,
        rgba($black-3-rgb, 0) 100%
      );
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 2;
    }
  }
}
.arrows {
  font-size: 24px;
  .next {
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    z-index: 2;
    font-size: inherit;
    @include transition;
    cursor: pointer;
    .ico {
      font-size: inherit;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &._lg {
    font-size: 35px;
  }
}
.avatar {
  width: 52px;
  height: 52px;
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &._sm {
    width: 28px;
    height: 28px;
  }
}

@mixin index-1760 {
  .grid {
    &__row {
      gap: 30px 20px;
    }
    &Item {
      width: calc(25% - 15px);
      max-width: unset;
    }
  }
}
@mixin index-1350 {
  .avatar {
    width: 45px;
    height: 45px;
  }
  .row {
    &__body {
      &._avatars {
        .avatar {
          min-width: 45px;
        }
      }
    }
  }
  .grid {
    &__row {
      gap: 30px 20px;
      &._sm {
        gap: 20px;
        .gridItem {
          min-width: 270px;
        }
      }
    }
    &Item {
      width: calc(33.3% - 15px);
      max-width: unset;
    }
  }
  .video {
    &__inner {
      &-content {
        padding-bottom: 40%;
      }
    }
  }
}
