.main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  padding: 6.1rem 0 10px;
  &__content {
    padding: 0 0 0 12.3rem;
  }
}
.autoContainer {
  max-width: 1675px;
  margin: 0 auto;
  padding: 0 1.5rem;
  &--lg {
    padding: 0 30px;
    max-width: 1920px;
    width: 100%;
  }
}
.input {
  display: flex;
  width: 100%;
  font-size: 1.1rem;
  input,
  textarea {
    padding: 0.45em 0.65em;
    border-radius: 0.5em;
    width: 100%;
    background-color: $white;
    border: 2px solid $primary;
    resize: none;
    transition: 0.3s ease-out;
    //font
    color: $black;
    font-family: $font-primary;
    font-style: normal;
    font-weight: 400;
    font-size: inherit;
    line-height: 1;
    &::placeholder {
      font-weight: inherit;
      font-size: inherit;
      color: $gray-2;
      transition: 0.3s ease-out;
    }
  }
  input:focus,
  textarea:focus {
    opacity: 0.8;
    &::placeholder {
      opacity: 0.7;
    }
  }
  &--search {
    input {
      padding: 0.45em 4em 0.45em 0.65em;
    }
    position: relative;
    label {
      padding: 0.25em 0.75em;
      background: $gray;
      border-radius: .75rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      right: 14px;
      transform: translateY(-50%);
      color: $gray-2;
      transition: 0.3s ease-in;
      cursor: pointer;
      .ico {
        font-size: 1.5rem;
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }
  &--toggle {
    position: relative;
    input {
      opacity: 0;
      width: 0;
      height: 0;
      &:checked + .slider {
        transform: translateX(4.1rem);
        img {
          display: none;
          &:nth-child(2) {
            display: block;
          }
        }
      }
    }
    label {
      position: relative;
      display: inline-block;
      width: 7.2rem;
      height: 2.9rem;
      background-color: $primary;
      border-radius: 1.75rem;
      pointer-events: none;
    }
    .slider {
      position: absolute;
      cursor: pointer;
      width: 2.3rem;
      height: 2.1rem;
      top: .4rem;
      left: .4rem;
      transition: 0.4s ease-in-out;
      border-radius: 50%;
      background: $white;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include transition;
        animation-name: fade;
        animation-duration: 0.3s;
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }
}
.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 1.5em;
  border: 1px solid transparent;
  color: $black;
  font-style: normal;
  font-weight: 400;
  font-size: .9rem;
  line-height: 1;
  transition: all 0.3s ease;
  font-family: $font-primary;
  &--primary {
    border-radius: 0.5em;
    padding: 0.62em 0.88em;
    color: $black;
    background: $gray;
    white-space: nowrap;
    &:hover {
      background: rgba($black-3-rgb, 0.5);
      color: $white;
    }
    &.active {
      background: $primary;
      color: $white;
    }
  }
  &--secondary {
    font-size: .7rem;
    padding: 0.75em 1.25em;
    border-radius: .9rem;
    color: $white;
    background: $primary;
    &:hover {
      color: $black;
      background: $gray;
    }
  }
  &--ico {
    padding: unset;
    position: relative;
    border-radius: 50%;
    &:hover {
      color: $gray-2;
    }
    .ico {
      font-size: 1.5rem;
      &._lg {
        width: 2.3rem;
      }
    }
  }
  &--bg {
    background: rgba($black-3-rgb, 0.05);
    border-radius: .9em;
    padding: 0.3em 0.8em 0.3em;
    .text {
      font-weight: 500;
      font-size: 0.78em;
      margin-left: 0.7rem;
    }
    hr {
      height: 1.2rem;
      width: 1px;
      background: rgba($black-3-rgb, 0.1);
      margin: 0 0.7rem;
    }
    .ico {
      font-size: .9rem;
      transition: 0.3s ease-in-out;
    }
    &._sm {
      .text {
        margin-left: 0;
      }
    }
    &._smIco {
      padding: 0.3em 0.61em;
      color: $black;
    }
    &:hover {
      opacity: 0.7;
    }
    &._like {
      cursor: unset;
      &:hover {
        opacity: 1;
      }
      .ico {
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  &--icoLg {
    width: 2.75rem;
    height: 2.75rem;
    background: $primary;
    border-radius: 50%;
    .ico {
      font-size: 1.4rem;
      color: $gray;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &:active {
    opacity: 0.7;
  }
  &:disabled {
    cursor: default;
    opacity: 0.5 !important;
  }
}
.ratioImage {
  position: relative;
  padding-bottom: 65%;
  width: 100%;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &--contain {
    img {
      object-fit: contain;
    }
  }
}
.noBreak {
  white-space: nowrap;
}
.ico {
  font-size: 24px;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
  &._lg {
    &::before {
      width: 100%;
      height: 100%;
    }
  }
}
@mixin components-1350 {
  .main {
    padding-top: 115px;
    padding: 110px 0 40px;
    &__content {
      padding-left: 230px;
    }
  }
  .button {
    font-size: 17px;
  }
  .input {
    font-size: 20px;
  }
}
