.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.4rem 0;
  z-index: 1;
  transition: 0.2s ease-out;
  transition-property: opacity, transform, padding;
  border-bottom: 1px solid;
  border-color: rgba($black-3-rgb, 0.25);
  z-index: 5;
  background: $white;
  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    z-index: 2;
    &-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 7.5rem;
      color: $black-2;
      svg {
        width: 100%;
        height: auto;
        fill: currentColor;
        path {
          &:nth-child(2) {
            color: $white;
          }
        }
      }
    }
    &-box {
      display: flex;
      align-items: center;
      gap: 25px;
    }
    .burger {
      display: none;
    }
  }
  .input {
    max-width: 910px;
  }

  &.sticky {
    position: fixed;
    padding: 20px 0;
    animation: 0.3s sticky ease-in;
    transition-duration: 0.5s;
  }
}
.burger {
  cursor: pointer;
  display: block;
  position: relative;
  font-size: 10px;
  width: 2.6em;
  height: 2em;
  color: $white;
  background: transparent;
  transition: 0.2s ease;

  span,
  &::after,
  &::before {
    position: absolute;
    left: 50%;
    width: 100%;
    height: 0.32em;
    background-color: currentColor;
    border-radius: 0.4em;
    transition: all 0.3s ease;
  }
  span {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &::before {
    content: "";
    top: 0;
    transform: translateX(-50%);
  }
  &::after {
    content: "";
    bottom: 0;
    transform: translateX(-50%);
  }

  &:hover {
    opacity: 0.8;
  }

  &.active {
    color: $primary;

    &::before {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      bottom: 50%;
      transform: translate(-50%, 50%) rotate(-45deg);
    }
    span {
      width: 0;
      opacity: 0;
      transition: 0.2s ease;
    }
  }
}
.sidebar {
  position: fixed;
  left: 0;
  top: 5.7rem;
  height: calc(100% - 5.7rem);
  padding: 1rem .5rem 1rem;
  width: 12.3rem;
  overflow: auto;
  &__inner {
    display: flex;
    flex-direction: column;
    &-group {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      border-bottom: 1px solid;
      border-color: rgba($black-3-rgb, 0.22);
      padding: 1.5rem 0;
      &._lg {
        padding: 4.25rem 0;
        border-bottom: unset;
      }
    }
    &-link {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      padding: .4rem .9rem;
      @include transition;
      border-radius: 0,5rem;
      .ico {
        font-size: 1.6rem;
        @include transition;
        color: $primary;
      }
      p {
        font-size: 1.1rem;
        @include transition;
        color: $primary;
      }
      &:hover {
        background-color: $primary;
        p {
          color: $white;
        }
        .ico {
          color: $white;
        }
      }
    }
  }
  .input {
    justify-content: center;
    max-width: 7.2rem;
    margin: 0 auto;
  }
}

@mixin header-1350 {
  .header {
    // padding: 25px 0;
    &__inner {
      &-logo {
        width: 130px;
      }
    }
    .button {
      &--ico {
        .ico {
          font-size: 27px;
        }
        &._lg {
          .ico {
            font-size: 27px;
          }
        }
      }
    }
  }
  .sidebar {
    width: 230px;
    &__inner {
      &-group {
        padding: 25px 0;
        &._lg {
          padding: 90px 0;
        }
      }
      &-link {
        gap: 20px;
        .ico {
          font-size: 30px;
        }
        p {
          font-size: 20px;
        }
      }
    }
  }
}
